<div class="section">
    <h3>{{headingTitle}} {{closed}}</h3>
    <h4 class="edit-check-subheading">{{headingSubtitle1}}</h4>
    <div>
        <select id="notItem" class="placeholder-multiple"
                ng-model="currentMenuItem"
                ng-change="selectMenuItem()">
            <option value="Select menu item" disabled selected>Select menu item</option>
            <option ng-repeat="menuItem in menuItems" value="{{menuItem}}">
                {{menuItem.name}}
            </option>
        </select>
    </div>
    <h4 class="edit-check-subheading">{{headingSubtitle2}}</h4>
    <div id="edit-check" class=" col-md-10">
        <select id="edit-select" multiple ng-model="currentSelectedMenuItem"
                ng-model="currentSelectedMenuItem"
                ng-click="openVoidPopup(currentSelectedMenuItem)">
            <option ng-repeat="selectedMenuItem in selectedMenuItems track by $index" value="{{selectedMenuItem}}">
                {{selectedMenuItem.name}} {{selectedMenuItem.price}}      {{selectedMenuItem.voided?"* VOIDED *":""}}
            </option>
        </select>
    </div>

    <div class="edit-check-buttons col-md-12">
        <span class="col-md-3">
            <button ng-click="saveCheck()">Save Check</button>
        </span>
        <span class="col-md-3">
            <button ng-click="closeCheck()">Close Check</button>
        </span>
    </div>

</div>