<div class="section">
    <h3>{{headingTitle}}</h3>
    <h4 class="show-check-subheading" >{{headingSubtitle}}</h4>
    <div id="show-check" class="col-md-10" >
        <select id="show-check-select" multiple ng-model="currentCheck" ng-change="selectCheck()">
            <option ng-repeat="check in checks track by $index" value="{{check}}">
                table {{check.tableNumber}} {{check.closed? "CLOSED": "OPEN"}}  {{check.displayDate}}
            </option>
        </select>
    </div>
</div>