<div class="section">
    <h3>{{headingTitle}} {{closed}}</h3>
    <h4 class="view-check-subheading">{{headingSubtitle1}}</h4>

    <div id="view-check" class="col-md-10">
        <table id="view-check-table" >
            <tbody id="view-check-tbody" class="col-md-12">
                <tr ng-repeat="selectedMenuItem in selectedMenuItems track by $index">
                    <td class="view-check-td-common col-md-8">
                        {{selectedMenuItem.name}}
                    </td>
                    <td class="view-check-td-common-right col-md-1">
                        {{selectedMenuItem.displayPrice}}
                    </td>
                    <td class="view-check-td-common col-md-2">
                        {{selectedMenuItem.voided? "VOIDED": "";}}
                    </td>
                </tr>
                <tr>
                    <td class="view-check-td-common col-md-1">
                        Tax:
                    </td>
                    <td class="view-check-td-common-right col-md-1">
                        {{check.displayTax}}
                    </td>
                </tr>
                <tr>
                    <td class="view-check-td-common col-md-1">
                        Tip:
                    </td>
                    <td class="view-check-td-common-right col-md-1">
                        {{check.displayTip}}
                    </td>
                </tr>
                <tr>
                    <td class="view-check-td-common col-md-1">
                        Total:
                    </td>
                    <td class="view-check-td-common-right col-md-1">
                        {{check.displayTotal}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="view-check-button-div" class="col-md-12">
        <span class="col-md-3">
            <button id="view-check-button" ng-disabled="check.closed" ng-click="editCheck()">Edit Check</button>
        </span>
    </div>

</div>